<img src="/assets/img/burger.png" width="300px">





<div class="container rounded col-6 mx-auto bg-light p-2">
    <h3 class="p-2 mb-2">Add a Burger</h3>
    <form class="create-form">

        <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="name">
            <button type="submit" class="submit-btn">ADD BURGER</button>
        </div>


    </form>
</div>

<br>

<div class="container bg-light" id="eaten-cols">
    <div class="row p-2">
        <div class="col-6 p-2">
            <h3 class="m-3">Not Eaten Yet</h3>

            <ul class="p-0">
                {{#each burgers}}
                {{#unless devoured}}

                {{this.burger_name}}
                {{> burgers/burger-block eaten=true}}

                <hr>
                {{/unless}}
                {{/each}}


            </ul>
        </div>
        <div class="col-6 p-2">
            <h3 class="m-3">Eaten</h3>

            <ul class="p-0">
                {{#each burgers}}
                {{#if devoured}}

                {{this.burger_name}}
                {{> burgers/burger-block eaten=false}}
                <hr>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>